<header class="header">
  <header class="header-border">
    <!-- Header -->
    <div class="header-container container">
      <nav class="header-navigation">
        <a class="logo" href="./index.html">Web<span>Studio</span></a>

        <ul class="header-navigation-list">
          <li class="header-navigation-item">
            <a class="header-navigation-link studio" href="./index.html"
              >Studio</a
            >
          </li>

          <li class="header-navigation-item">
            <a class="header-navigation-link" href="">Portfolio</a>
          </li>

          <li class="header-navigation-item">
            <a class="header-navigation-link" href="">Contacts</a>
          </li>
        </ul>
      </nav>

      <!------------------------- Button menu mobile ---------------------------------->

      <button class="open-menu-button" type="button" data-menu-open>
        <svg width="24" height="24" class="menu-button-icon">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button>

      <!-------------------------------------------------------------------------------->

      <!-- Addres -->
      <address class="address">
        <ul class="address-list">
          <li class="address-item">
            <a class="address-link" href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>

          <li class="address-item">
            <a class="address-link" href="tel:+110001111111"
              >+11 (000) 111-11-11</a
            >
          </li>
        </ul>
      </address>
    </div>
  </header>
</header>
