<!-- Window menu mobile -->
<div class="mobile-menu-backdrop" data-menu>
  <div class="mobile-menu">
    <button class="close-button" type="button" data-menu-close>
      <svg width="8" height="8" class="close-button-icon">
        <use href="./img/icons.svg#icon-close-modal"></use>
      </svg>
    </button>

    <!-- Mobile menu -->

    <nav class="mobile-navigation">
      <ul class="mobile-navigation-list">
        <li class="mobile-navigation-item">
          <a class="mobile-navigation-link" href="./index.html">Studio</a>
        </li>

        <li class="mobile-navigation-item">
          <a class="mobile-navigation-link" href="">Portfolio</a>
        </li>

        <li class="mobile-navigation-item">
          <a class="mobile-navigation-link" href="">Contacts</a>
        </li>
      </ul>
    </nav>

    <!-- Mobile address -->

    <address class="mobile-address">
      <ul class="mobile-address-list">
        <li class="mobile-address-item">
          <a class="mobile-address-link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>

        <li class="mobile-address-item">
          <a class="mobile-address-link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>

    <!-- Mobile social -->

    <ul class="mobile-social-list">
      <li class="mobile-social-item">
        <a href="" class="mobile-social-link">
          <svg width="24" height="24" class="mobile-svg">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="mobile-social-item">
        <a href="" class="mobile-social-link">
          <svg width="24" height="24" class="mobile-svg">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li class="mobile-social-item">
        <a href="" class="mobile-social-link">
          <svg width="24" height="24" class="mobile-svg">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="mobile-social-item">
        <a href="" class="mobile-social-link">
          <svg width="24" height="24" class="mobile-svg">
            <use href="./img/icons.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
