<!-- Section 4 Our Portfolio -->
<section class="section">
  <div class="container">
    <h2 class="our-portfolio-title">Our Portfolio</h2>

    <ul class="our-portfolio-list">
      <li class="our-portfolio-item">
        <div class="portfolio-image-container">
          <picture>
            <source
              media="(min-width: 1158px )"
              srcset="./img/banking-desk.jpg 1x, ./img/banking-desk@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px )"
              srcset="./img/banking-tab.jpg 1x, ./img/banking-tab@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px )"
              srcset="./img/banking-mob.jpg 1x, ./img/banking-mob@2x.jpg 2x"
            />
            <img src="./img/banking-desk.jpg" alt="Banking App" width="360" />
          </picture>
          <p class="portfolio-absolute">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="our-portfolio-card">
          <h3 class="our-portfolio-type">Banking App</h3>
          <p class="our-portfolio-type-information">App</p>
        </div>
      </li>

      <li class="our-portfolio-item">
        <div class="portfolio-image-container">
          <picture>
            <source
              media="(min-width: 1158px )"
              srcset="./img/cashless-desk.jpg 1x, ./img/cashless-desk@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px )"
              srcset="./img/cashless-tab.jpg 1x, ./img/cashless-tab@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px )"
              srcset="./img/cashless-mob.jpg 1x, ./img/cashless-mob@2x.jpg 2x"
            />
            <img
              src="./img/cashless-desk.jpg"
              alt="Cashless Payment"
              width="360"
            />
          </picture>
          <p class="portfolio-absolute">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="our-portfolio-card">
          <h3 class="our-portfolio-type">Cashless Payment</h3>
          <p class="our-portfolio-type-information">Marketing</p>
        </div>
      </li>

      <li class="our-portfolio-item">
        <div class="portfolio-image-container">
          <picture>
            <source
              media="(min-width: 1158px )"
              srcset="
                ./img/meditation-desk.jpg    1x,
                ./img/meditation-desk@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px )"
              srcset="
                ./img/meditation-tab.jpg    1x,
                ./img/meditation-tab@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px )"
              srcset="
                ./img/meditation-mob.jpg    1x,
                ./img/meditation-mob@2x.jpg 2x
              "
            />
            <img
              src="./img/meditation-desk.jpg"
              alt="Meditaion App"
              width="360"
            />
          </picture>
          <p class="portfolio-absolute">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="our-portfolio-card">
          <h3 class="our-portfolio-type">Meditation App</h3>
          <p class="our-portfolio-type-information">App</p>
        </div>
      </li>

      <li class="our-portfolio-item">
        <div class="portfolio-image-container">
          <picture>
            <source
              media="(min-width: 1158px )"
              srcset="./img/taxi-desk.jpg 1x, ./img/taxi-desk@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px )"
              srcset="./img/taxi-tab.jpg 1x, ./img/taxi-tab@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px )"
              srcset="./img/taxi-mob.jpg 1x, ./img/taxi-mob@2x.jpg 2x"
            />
            <img src="./img/taxi-desk.jpg" alt="Taxi Service" width="360" />
          </picture>
          <p class="portfolio-absolute">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="our-portfolio-card">
          <h3 class="our-portfolio-type">Taxi Service</h3>
          <p class="our-portfolio-type-information">Marketing</p>
        </div>
      </li>

      <li class="our-portfolio-item">
        <div class="portfolio-image-container">
          <picture>
            <source
              media="(min-width: 1158px )"
              srcset="./img/screen-desk.jpg 1x, ./img/screen-desk@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px )"
              srcset="./img/screen-tab.jpg 1x, ./img/screen-tab@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px )"
              srcset="./img/screen-mob.jpg 1x, ./img/screen-mob@2x.jpg 2x"
            />
            <img
              src="./img/screen-desk.jpg"
              alt="Screen Illustrations"
              width="360"
            />
          </picture>
          <p class="portfolio-absolute">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="our-portfolio-card">
          <h3 class="our-portfolio-type">Screen Illustrations</h3>
          <p class="our-portfolio-type-information">Design</p>
        </div>
      </li>

      <li class="our-portfolio-item">
        <div class="portfolio-image-container">
          <picture>
            <source
              media="(min-width: 1158px )"
              srcset="./img/online-desk.jpg 1x, ./img/online-desk@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px )"
              srcset="./img/online-tab.jpg 1x, ./img/online-tab@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px )"
              srcset="./img/online-mob.jpg 1x, ./img/online-mob@2x.jpg 2x"
            />
            <img src="./img/online-desk.jpg" alt="Online Courses" width="360" />
          </picture>
          <p class="portfolio-absolute">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="our-portfolio-card">
          <h3 class="our-portfolio-type">Online Courses</h3>
          <p class="our-portfolio-type-information">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
