<!-- Section 2 Our Strategy -->
<section class="our-strategy section">
  <div class="container">
    <h2 class="visually-hidden">Our Strategy</h2>

    <ul class="our-strategy-list">
      <li class="our-strategy-item">
        <div class="strategy-icon-container">
          <svg width="64" height="64">
            <use href="./img/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="our-strategy-type">Strategy</h3>
        <p class="our-strategy-type-description">
          Our goal is to identify the business problem to walk away with the
          perfect and creative solution.
        </p>
      </li>

      <li class="our-strategy-item">
        <div class="strategy-icon-container">
          <svg width="64" height="64">
            <use href="./img/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="our-strategy-type">Punctuality</h3>
        <p class="our-strategy-type-description">
          Bring the key message to the brand's audience for the best price
          within the shortest possible time.
        </p>
      </li>

      <li class="our-strategy-item">
        <div class="strategy-icon-container">
          <svg width="64" height="64">
            <use href="./img/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <h3 class="our-strategy-type">Diligence</h3>
        <p class="our-strategy-type-description">
          Research and confirm brands that present the strongest digital growth
          opportunities and minimize risk.
        </p>
      </li>

      <li class="our-strategy-item">
        <div class="strategy-icon-container">
          <svg width="64" height="64">
            <use href="./img/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="our-strategy-type">Technologies</h3>
        <p class="our-strategy-type-description">
          Design practice focused on digital experiences. We bring forth a deep
          passion for problem-solving.
        </p>
      </li>
    </ul>
  </div>
</section>
